[submodule "Carthage/Checkouts/xcconfigs"]
	path = Carthage/Checkouts/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "Carthage/Checkouts/RxSwift"]
	path = Carthage/Checkouts/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
